OKanban {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(150, 220, 160);
}

OKanban[alert_haut = "true"] {
    background-color: darkcyan;
}

EmptyOKanban {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(240, 255, 200);
}

EmptyOKanban[alert="true"]{
    background-color: rgb(200, 50, 100);
}

OKProd {
    border : 2px solid rgb(130, 153, 88);
    border-radius: 5px;
    background-color: rgb(220, 220, 220);
}

OKProdTitre{
    font-weight: bold;
    border-radius: 2px;
    background-color: rgb(200, 200, 200);
    padding: 2px;
    qproperty-alignment: AlignCenter;
}

OKTitre{
    qproperty-alignment: AlignCenter;
    padding : 0px;
}
