OKanban {
    border: 1px solid black;
    border-radius: 10px;
    background-color: darkCyan;
}
EmptyOKanban {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(214, 228, 228);
}

EmptyOKanban[alert="true"]{
    background-color: rgb(245, 3, 72);
}
